.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .image-card {
    width: 100%;
  }
  
  /* something */
  .image-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;    
  }