h2 {
  color: #333;
  font-size: 24px;
}

h3 {
  color: #666;
  font-size: 20px;
}

img {
  width: 10%;
  height: auto;
}

.swiper-container {
  width: 80%;
  height: 400px;
  margin: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-card img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.posts-container {
  max-width: 500px; /* Adjust as needed */
  margin: auto; /* This will center your slider if it's smaller than the window width */
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}