.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}

.skills__container > div {
  background: linear-gradient(145deg, var(--color-bg-variant), var(--color-bg));
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.skills__container > div:hover {
  transform: scale(1.02);
  border-color: var(--color-primary-variant);
}

.skills__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.skills__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.skills__details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.skills__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
  font-size: 1.5rem; /* Increase the size of the icon for more visibility */
}

/* Proficiency Bars or Visual Indicators can be added below */

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .skills__content {
    padding: 1rem;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  .skills__container {
    gap: 1rem;
  }

  .skills__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
